<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About Us</a>
                    <!--<a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a> -->
                    <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                </div>
               <!-- <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username">
                                <input type="password" class="form-control" placeholder="Password" name="psw">
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul> -->
            </div>
        </nav>
        <div class="p-4 justify-content-center" >
        <p class="lead mt-5 text-center">
            Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
        </p>
        </br>
        <p class="lh-base" >
            Best Cars dealership was founded in 2003 and is a family business 
            employing four generations of the same family and over 30 staff. 
            We at Best Cars dealership have built our reputation on customer service with over 50% 
            of the business being loyal customers who keep coming back to us. 
        </p>
        <p class="lh-base">
            We are a 'Highly rated' Auto Trader dealer and a 'Top rated' Car Gurus dealer.
            We have over 180 cars on our site that cover a wide range of different types, models and 
            styles, together with a purpose-built workshop, valet bay & 'smart' repair centre.
            The staff bring with them a wealth of experience from across the motor industry 
            adding up to over 130 years of motor trade knowledge and experience.
        </p>
        </br>
    </div>
    </body>
    
    </html>